:root {
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

html {
    font-size: 6.25%;
}

body {
    font-size: 16rem;
    line-height: 1;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

a,
button {
    display: inline-block;
    background: transparent;
    border: 0;
    cursor: pointer;
}

a,
a:link,
a:visited,
a:focus,
a:hover {
    text-decoration: none;
}

.blind {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    text-indent: -9999rem;
}

.pc-only {
    display: unset;
}

.m-only {
    display: none;
}
